<mat-toolbar style="background-color: #00A1F1;">
    <div class="toolbar-left">
        <img src="../../assets/images/logo.png" class="logo" />
        <div class="title-container">
        <span class="title">ATHEEB INFORMATION MANAGEMENT SYSTEM</span>
        </div>
    </div>
    <span class="example-spacer"></span>
    <div class="toolbar-right">
        <button mat-icon-button>
          <mat-icon>notifications</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>account_circle</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>menu</mat-icon>
        </button>
    </div>
</mat-toolbar>