mat-drawer-container {
    height: 100vh;
    display: flex;
    flex-direction: row;
  }
  
  mat-drawer {
    width: 250px; 
    background-color: #f0f0f0;  
  }
  
  mat-drawer-content {
    flex: 1; 
    padding: 20px; 
    background-color: #fff;  
  }

  .user-profile {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    padding: 15px;
  }
  
  .user-avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-bottom: 8px;
  }
  
  .user-name {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 4px;
  }
  
  .user-role {
    font-size: 14px;
    color: #1b1a1a;
  }

  .user-info{
    display: flex;
    flex-direction: column;
    justify-content: center; 
  }
  
  .card-item {
    width: 395px;
    height: 140px;
    border: none;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    /* position: relative;  */

  }

  .card-item mat-icon {
    font-size: 24px; 
    color: inherit; 
  }
  
  
  .card-header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11px;
  }
  
  .count-label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  
  .count {
    font-size: 24px;
    font-weight: bold;
    color: #000000; 
  }
  
  .label {
    font-size: 16px;
    color: #000000; 
  }
  
  .icon-right {
    font-size: 40px;
    padding-left: 220px;
    /* color: #000000; */
  }
  
  
  .footer-label {
    align-items: flex-start;
    font-size: 20px;
    font-weight: bold;
    color: #fcf9f9; 
    padding: 4px 0;
    width: 100%;
    margin-top: auto;
  }
  