<mat-drawer-container autosize>
    <mat-drawer #drawer opened="true" mode="side">
      <div class="user-profile">
        <img src="../../assets/images/admin-logo.png" alt="User Avatar" class="user-avatar">
        <div class="user-info">
            <span class="user-name">Rafi</span>
            <span class="user-role">ADMIN</span>
        </div>
      </div>
      <mat-nav-list>
        <mat-list-item>
          <button mat-button>
            <mat-icon>dashboard</mat-icon>
            Dashboard
          </button>
        </mat-list-item>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>description</mat-icon>
              Document
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list>
            <a mat-list-item>
              <mat-icon>search</mat-icon>
              Search
            </a>
            <a mat-list-item>
              <mat-icon>search</mat-icon>
              Advance Search
            </a>
            <a mat-list-item>
              <mat-icon>create</mat-icon>
              Create Document
            </a>
            <a mat-list-item>
              <mat-icon>file_upload</mat-icon>
              Import Document
            </a>
          </mat-list>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>tag</mat-icon>
              Tags
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list>
            <a mat-list-item>
              <mat-icon>search</mat-icon>
              Search
            </a>
            <a mat-list-item>
              <mat-icon>search</mat-icon>
              Advance Search
            </a>
            <a mat-list-item>
              <mat-icon>create</mat-icon>
              Create Tag
            </a>
            <a mat-list-item>
              <mat-icon>file_upload</mat-icon>
              Import Tag
            </a>
          </mat-list>
        </mat-expansion-panel>
        <mat-list-item>
          <button mat-button>
            <mat-icon>explore</mat-icon>
            Data Explorer
          </button>
        </mat-list-item>
        <mat-list-item>
          <button mat-button>
            <mat-icon>integration</mat-icon>
            Integration
          </button>
        </mat-list-item>
        <mat-list-item>
          <button mat-button>
            <mat-icon>work_outline</mat-icon>
            Workflow
          </button>
        </mat-list-item>
        <mat-list-item>
          <button mat-button>
            <mat-icon>settings</mat-icon>
            Administration
          </button>
        </mat-list-item>
        <mat-list-item>
          <button mat-button>
            <mat-icon>help_outline</mat-icon>
            Help
          </button>
        </mat-list-item>
        <mat-list-item>
          <button mat-button>
            <mat-icon>info</mat-icon>
            About
          </button>
        </mat-list-item>
      </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
      <mat-grid-list cols="4" rowHeight="150px">
            <mat-grid-tile *ngFor="let item of cardItems">
                <mat-card class="card-item">
                    <mat-card-header>
                      <div class="card-header-content">
                        <div class="count-label">
                          <div class="count" [style.color]="item.color">{{ item.count }}</div>
                          <div class="label">{{ item.label }}</div>
                        </div>
                        <mat-icon class="icon-right">{{ item.icon }}</mat-icon>
                      </div>
                    </mat-card-header>
                    <mat-card-content [style.background-color]="item.color">
                      <div class="footer-label">{{ item.footerLabel }}</div>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
      </mat-grid-list>
      <!-- <div>
        <h1>Welcome to the Dashboard!</h1>
      </div> -->
      <div>
        <div class="chart-container">
          <!-- Bar Chart -->
          <div class="chart-wrapper">
            <h3>Documents</h3>
            <div class="chart-box">
              <canvas id="barChart"></canvas>
            </div>
            <div class="chart-label">Doc Type</div>
          </div>
        
          <!-- Line Chart -->
          <div class="chart-wrapper">
            <h3>Tags</h3>
            <div class="chart-box">
              <canvas id="lineChart"></canvas>
            </div>
            <div class="chart-label">Tag Type</div>
          </div>
        </div>
                
        <!-- <img src="../../assets/images/bar-chart.png" alt="Bar Chart" width="910" height="575"> -->
      </div>
    </mat-drawer-content>
</mat-drawer-container>